$primaryColor: #8CBFFF;
$backgroundColor: white;
$fontColor:black;

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: $backgroundColor;
    color:$fontColor;
    line-height: 1.75;
}

.top-header{
  padding-bottom: 100px;
}

.menu-header{
  background-color: $primaryColor;
  display: block;
  width: 100%;
  height: 100px;
  position: fixed;
  z-index:1000;
}


nav {
    background-color:$primaryColor;
    overflow: hidden;
    padding: 0 25%;
    position: fixed;
    width:100%;
    z-index: 21000;
  }

  #logo {
      width:80px;
      float: left;
      display:block;
      text-align: center;
      padding: 30px 140px 10px 20px ;
  }


  .nav-link {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 45px 30px;
    text-decoration: none;
    font-size: 1.25em;
  }

  nav a:hover {
    background-color: #ddd;
    color: black;
  }


  main{
      float:left;
      width: 100%;
      text-align: center;
      margin:30px 0;
  }

  #logo-homepage{
      width:200px;
      margin: 30px;
  }

  #title{
      font-size: 2.5em;
  }

  .icon{
      font-size:600%;
      color: $primaryColor;
  }

  .homepage{
      margin: 0 20% 50px;
  }


  /* Create three equal columns that floats next to each other */
.column-3 {
    float: left;
    width: 33.33%;
    padding-bottom: 50px;
  }

  .column-2 {
    float: right;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    display: table;
    clear: both;
  }

  .cv{
    float:left;
  }

  #cv-img{
      width:100%;
  }

  
  .cv-list, .cv-name{
      text-align: right;
      padding: 20px;
      box-sizing: border-box;
  }

  .cv h2{
      font-size: 2em;
  }

  .cv h3{
    font-size: 1.5em;
}

footer{
  background-color: $primaryColor;
  float:left;
  width: 100%;
}

footer .column-3{
  box-sizing: border-box;
  margin:auto;
  text-align: center;
  padding: 30px 0;
}

.footer-icon{
  font-size:200%;
  padding-left:10px;
  color:black;
}

  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column-3, .column-2 {
      width: 100%;
    }
  }

  @media screen and (min-width:600px) {
  .cv-list{
    padding-top: 60px;
  }
}


  @media screen and (max-width: 1200px) {
    .nav-link, #logo {
      float: none;
      width: 100%;
    }

    #logo{
      width:80px;
    }
  }

